Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  -readability-identifier-length,
  -modernize-use-trailing-return-type
WarningsAsErrors: ''
HeaderFilterRegex: 'src/|include/'
FormatStyle: file